<nav class="navbar navbar-expand-lg color-2" style="margin-bottom: 60px;">
    <div class="container-fluid">
        <a class="navbar-brand light-text" href="#">Presta Bueno</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ver prestamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Mis prestamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Pagar prestamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Pagos pendientes</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" class="btn color-4 light-text">Mi cuenta</button>
            </span>
        </div>
    </div>
</nav>
<div class="col-md-12 color-2 d-flex justify-content-center" style="height: 100%;">
    <div class="col-md-6 color-3">
        <div class="d-flex justify-content-center">
            <h4>Pago mensual</h4>
        </div>
        <div class="contenido">
            <p>Monto: </p>
            <p>Interes: </p>
            <p>Total: </p>
        </div>
        <div class="contenido">
            <h4>Metodo de pago</h4>
            <p>Tarjeta</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 d-flex justify-content-center">
                <button type="button" class="btn color-gris ">
                    Cancelar
                </button>
            </div>
            <div class="col-md-5 d-flex justify-content-center">
                <button type="button" class="btn color-4 light-text">
                    Pagar
                </button>
            </div>
        </div>      
    </div>
</div>