<nav class="navbar navbar-expand-lg color-2" style="margin-bottom: 60px;">
    <div class="container-fluid">
        <img src="../assets/img/logotipo.png" alt="logotipo" class="mx-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled" aria-current="page"><strong>Agregar Prestamo</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Prestamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Historial Prestamos</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" class="btn color-4 light-text">Mi cuenta</button>
            </span>
        </div>
    </div>
</nav>
<div class="col-md-12 color-2 d-flex justify-content-center" style="height: 100%;">
    <div class="container justify-content-center col-md-6 color-3">
        <h4 class="d-flex justify-content-center pb-3">Crear nuevo prestamo:</h4>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3 ">
                    <span class="input-group-text " id="basic-addon1">Monto Total</span>
                    <input type="number" class="form-control" placeholder="$--" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group d-flex mb-3">
                    <span class="input-group-text" id="basic-addon2">Tasa interes</span>
                    <input type="number" class="form-control" placeholder="%--" aria-label="Username" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo de tasa</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Seleccionar...</option>
                        <option value="1">Fija</option>
                        <option value="2">Variale</option>
                    </select>
                </div>
                <div class="input-group d-flex mb-3">
                    <span class="input-group-text" id="basic-addon2">Meses</span>
                    <input type="number" class="form-control" placeholder="XX" aria-label="Username" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="row">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5 d-flex justify-content-center">
                        <button type="button" class="btn color-gris">
                            Cancelar
                        </button>
                    </div>
                    <div class="col-md-5 d-flex justify-content-center">
                        <button type="button" class="btn color-4 light-text">
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>