<nav class="navbar navbar-expand-lg color-2" style="margin-bottom: 60px;">
    <div class="container-fluid">
        <img src="../assets/img/logotipo.png" alt="logotipo" class="mx-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="solicitar" aria-current="page">Solicitar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="consultar" aria-current="page">Ver prestamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="historial" aria-current="page">Mis prestamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="pagos-pendientes" aria-current="page">Pagos pendientes</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" class="btn color-4 light-text">Mi cuenta</button>
            </span>
        </div>
    </div>
</nav>
<div class="col-md-12 color-2 d-flex justify-content-center" style="height: 100%;">
    <div class="col-md-12 color-2 d-flex justify-content-center">
        <div class="container justify-content-center col-md-6 color-3">
            <h4 class="d-flex justify-content-center">Pagos pendientes o atrasados</h4>  
            <div class="row overflow-auto border p-3" style="height: 425px;">

                <div class="d-flex justify-content-center">
                    <div class="alert p-3 w-50" role="alert">
                        <h4>Prestamo: 2021 - 2024</h4>
                        <h4>Mes: Enero</h4>
                        <div class="row">
                            <div class="col">
                                <h6>Estado: Saldado</h6>
                            </div>
                            <div class="col">
                                <button type="button" class="disabled btn btn-positivo" (click)="PagarActual()">Pagar Mes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="alert p-3 w-50" role="alert">
                        <h4>Prestamo: 2021 - 2024</h4>
                        <h4>Mes: Enero</h4>
                        <div class="row">
                            <div class="col">
                                <h6>Estado: Pendiente</h6>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-positivo" (click)="PagarActual()">Pagar Mes</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-center">
                    <div class="alert p-3 w-50" role="alert">
                        <h4>Prestamo: 2021 - 2024</h4>
                        <h4>Mes: Enero</h4>
                        <div class="row">
                            <div class="col">
                                <h6>Estado: Atrasado</h6>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-positivo" (click)="PagarActual()">Pagar Mes</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>   
        </div>   
    </div>
</div>