<nav class="navbar navbar-expand-lg color-2" style="margin-bottom: 60px;">
    <div class="container-fluid">
        <img src="../assets/img/logotipo.png" alt="logotipo" class="mx-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="Consultar()" >Ver prestamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disaled" aria-current="page" (click)="Historial()"><strong>Mis prestamo</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="Pagar()" >Pagos pendientes</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" class="btn color-4 light-text">Mi cuenta</button>
            </span>
        </div>
    </div>
</nav>
<div class="col-md-12 color-2 d-flex justify-content-center" style="height: 100%;">
    <div class="col-md-12 color-2 d-flex justify-content-center">
        <div class="container justify-content-center col-md-6 color-3">
            <h4 class="d-flex justify-content-center">Mis Prestamos</h4>  
            <div class="row d-flex justify-content-center overflow-auto border p-3" style="height: 425px;">
                
                <div class="d-flex justify-content-center">
                    <div class="alert p-3 w-75" role="alert">
                        <div class="row">
                            <div class="col">
                                <div class="w-50">
                                    <h4>$--</h4>
                                    <h4>Fecha:</h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="w-50">
                                    <h5>Estado:</h5>
                                    <p class="text-success-emphasis">Pendiente</p>
                                    <button type="button" class=" btn btn-positivo" (click)="PagarActual()">Pagar</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="alert p-3 w-75" role="alert">
                        <div class="row">
                            <div class="col">
                                <div class="w-50">
                                    <h4>$--</h4>
                                    <h4>Fecha:</h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="w-50">
                                    <h5>Estado:</h5>
                                    <p class="text-success-emphasis">Pendiente</p>
                                    <button type="button" class=" btn btn-positivo" (click)="PagarActual()">Pagar</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                
                <div class="d-flex justify-content-center">
                    <div class="alert p-3 w-75" role="alert">
                        <div class="row">
                            <div class="col">
                                <div class="w-50">
                                    <h4>$--</h4>
                                    <h4>Fecha:</h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="w-50">
                                    <h5>Estado:</h5>
                                    <p class="text-success-emphasis">Pendiente</p>
                                    <button type="button" class=" btn btn-positivo" (click)="PagarActual()">Pagar</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="alert p-3 w-75" role="alert">
                        <div class="row">
                            <div class="col">
                                <div class="w-50">
                                    <h4>$--</h4>
                                    <h4>Fecha:</h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="w-50">
                                    <h5>Estado:</h5>
                                    <p class="text-success-emphasis">Pendiente</p>
                                    <button type="button" class=" btn btn-positivo" (click)="PagarActual()">Pagar</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>

            </div>   
        </div>   
    </div>
</div>